@model IEnumerable<EventReservations.Models.EventModel>

@{
    ViewData["Title"] = "View";
}
<h4>All events</h4>
<hr />

<div class="cards">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem" ;>

            <div class="card-body">

                <h5 class="card-title">@Html.DisplayFor(i => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(i => item.Address)</p>

                <a class="btn btn-primary" style="position:absolute; bottom: 10px; width: 120px; align-items:center" asp-controller="Event" asp-action="Purchase" asp-route-id="@item.Id">Purchase</a>
            </div>
        </div>
    }
</div>
